*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red{
    background-color: rgb(213, 55, 55);
}

.value{
height: 50px;
width: 60px;
border: 2px solid black;
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
background-color: #9044ee;
color: white;
}
.array{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sorted{
    background-color: rgb(59, 201, 59);
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 30px;
}
.highlight{
    color: black;
    background-color: rgb(218, 218, 246);
   box-shadow:  inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

.container{
    margin-top: 25px;
    display: flex;
    padding: 5px;
}
select{
    width: 30vw;
    font-size: 25px;
    text-align: center;
    /* margin: 15; */
    margin-left: 15px;
    outline: none;
}
button{
    font-size: 25px;
    color: white;
    background-color: rgb(131, 76, 240);
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}
input{
    width: 34vw;
    font-size: 25px;
    /* border: 2px solid black; */
    border-radius:5px ;
    height: 8vh;
    margin-left: 12vw;
    border: none;
    outline: none;

}
body{
    background: #89ace4;
}
.colorIt{
     background-color: rgba(247, 255, 131, 0.78) !important ;
    color: black;
}
.merge-left{
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
.merge-right{
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(31, 5, 230, 0.6);
}
